
<!DOCTYPE html>

<html>

<head>

<meta charset="utf-8">
<title>BACKSTORY FORGE</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>
  <div class="header">
    <h1 class="title">BACKSTORY FORGE</h1>
    <h1 class="logline">Who do you want to be? Let fate decide...</h1>
  </div>

<div class="info">
    <p>
        <label for="name"><b>Character Name:</b></label>
        <input type="text" name="name" id="name" required />
    </p>
  </ul>
  <p>
      <label for="race"><b>Race:</b></label>
      <input type="text" name="race" id="race" required />
  </p>
  <p>
      <label for="class"><b>Class:</b></label>
      <input type="text" name="class" id="class" required />
  </p>
</div>

<div class="info2">
  <ul><b><u>Birth Location:</u></b>
    <p>
      Tragic
      <label class="switch">
        <input type="checkbox">
        <span class="slider"></span>
      </label>
      Fortunate
    </p>
  </ul>

  <ul><b><u>Childhood:</u></b>
    <p>
      Tragic
      <label class="switch">
        <input type="checkbox">
        <span class="slider"></span>
      </label>
      Fortunate
    </p>
  </ul>

  <ul><b><u>Bestfriend:</u></b>
    <p>
      Tragic
      <label class="switch">
        <input type="checkbox">
        <span class="slider"></span>
      </label>
      Fortunate
    </p>
  </ul>

  <ul><b><u>Teenage years:</u></b>
    <p>
      Tragic
      <label class="switch">
        <input type="checkbox">
        <span class="slider"></span>
      </label>
      Fortunate
    </p>
  </ul>

  <ul><b><u>Job:</u></b>
    <p>
      Tragic
      <label class="switch">
        <input type="checkbox">
        <span class="slider"></span>
      </label>
      Fortunate
    </p>
  </ul>

  <ul><b><u>Life ambition:</u></b>
    <p>
      Tragic
      <label class="switch">
        <input type="checkbox">
        <span class="slider"></span>
      </label>
      Fortunate
    </p>
  </ul>
</div>

<div>
  <p>
     <a class="btn" href=" {{ url_for('story') }}">FORGE MY STORY!</a>
  </p>
</div>



</body>

</html>
